{% extends 'storage/base.html' %}
{% load static %}

{% block content %}



<div class="page-wrapper">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">        
                            {% comment %} <p class="text-muted mb-4">A beautiful, responsive, customizable
                                and accessible (WAI-ARIA) replacement for JavaScript's popup boxes. Zero
                                dependencies.
                            </p> {% endcomment %}
                            <div class="table-responsive">
                                <table class="table mb-0">                                                        
                                    <tbody>
                                        {% if request.user.payment.verified == True %}
                                        <tr class="border-0">
                                            {% comment %} <td class="border-0"><a href="{% url 'accounts:pricing' %}" class="btn btn-gradient-primary">Upload Image</a></td> {% endcomment %}
                                            <tr class="border-0">
                                                <td class="border-0"><i class="mdi mdi-circle-outline mr-1 text-success"></i>Your account is active</td>
                                                <td class="border-0 text-right"><button type="button" class="btn btn-gradient-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Upload Audio</button></td>
                                            </tr>
                                        </tr>
                                        {% else %}
                                        <tr class="border-0">
                                            <td class="border-0"><i class="mdi mdi-circle-outline mr-1 text-pink"></i><span class="text-danger">Purchase a storage plan to activate your storage...</span></td>
                                            <td class="border-0"><a href="{% url 'accounts:pricing' %}" class="btn btn-gradient-primary">Go to Pricing</a></td>
                                            <td class="border-0"><button type="button" class="btn btn-gradient-primary" disabled>Upload Audio</button></td>
                                        </tr>
                                        {% endif %}

                                        
                                    </tbody>
                                </table>
                            </div><!--table responsive-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div>

            </div>

            <div class="row">
                {% for audio in my_audios %}
                <div class="col-lg-4">
                    <div class="videos">
                        <audio controls>
                            <label for="audio" class="form-label">Music.mp3</label>
                            <source src="{{audio.audio.url}}" type="audio/mpeg">
                            Your browser does not support the audio element.
                       </audio>
                    </div>

                    <div class="dropdown d-inline-block float-right mt-n2">
                        <a class="nav-link dropdown-toggle arrow-none col-lg-4" id="drop7" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-18 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop7" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(38px, 0px, 0px);">
                            <a class="dropdown-item text-danger" href="{% url 'storage:delete_audio' audio.id %}">Delete</a>
                        </div>
                    </div>
                    <h4 class="header-title pb-1 mb-3 mt-0 col-lg-4">{{audio.audio.name|slice:"10:"}}</h4>

                </div>
                <br>
                {% endfor %}
            </div>


            <!-- sample modal content -->
            <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0" id="myModalLabel">Upload Audio</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <form class="form" action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <div class="custom-file mb-3">
                                        <input type="file" name="audio" class="form-control" required>
                                    </div>
                                    <br> 
                                    <div class="d-grid gap-2 col-6 mx-auto">
                                        <input type="submit" value="Upload" class="btn btn-primary">                                                
                                    </div>
                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
    </div>
</div>

{% endblock content %}