{% extends 'storage/base.html' %}
{% load static %}

{% block content %}



<div class="page-wrapper">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">                        
                <div class="col-lg-6"> 
                    <div class="card">
                        <div class="card-body">                                    
                            <div class="row">
                                <div class="col-lg-8">
                                    <h4 class="header-title mt-0 mb-3">Storage Usage</h4> 
                                    <div id="barchart" class="apex-charts"></div>
                                </div><!--end col-->
                                <div class="col-lg-4">   
                                    {% comment %} <h4 class="header-title mt-0 mb-3">Traffic Sources</h4>                                         
                                    <div class="traffic-card">                                                
                                        <h3 class="text-dark font-weight-semibold">80</h3>
                                        <h5>Right Now</h5>
                                    </div> {% endcomment %}
                                                    
                                    <ul class="list-unstyled url-list mb-0">
                                        {% comment %} <li>
                                            <i class="mdi mdi-circle-medium text-success"></i>
                                            <span>Email</span>                                                                                                      
                                        </li> {% endcomment %}
                                        <li>
                                            <i class="mdi mdi-circle-medium text-pink"></i> 
                                            <span>Referral</span>                                              
                                        </li>
                                        <li>
                                            <i class="mdi mdi-circle-medium text-purple"></i>
                                            <span>Organic</span>                                                 
                                        </li>     
                                        <li>
                                            <i class="mdi mdi-circle-medium text-warning"></i> 
                                            <span>Direct</span>                                              
                                        </li>
                                        <li>
                                            <i class="mdi mdi-circle-medium text-secondary"></i>
                                            <span>Campaign</span>                                                 
                                        </li>                                                
                                    </ul>
                                </div><!--end col-->
                            </div><!--end row-->                                   
                        </div><!--end card-body--> 
                    </div><!--end card--> 
                </div>
            </div><!--end row-->
        </div>
    </div>
</div>

{% endblock content %}