{% extends 'storage/base.html' %}
{% load static %}

{% block content %}



        <div class="page-wrapper">
            <!-- Page Content-->
            <div class="page-content">

                <div class="container-fluid">
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">        
                                    {% comment %} <p class="text-muted mb-4">A beautiful, responsive, customizable
                                        and accessible (WAI-ARIA) replacement for JavaScript's popup boxes. Zero
                                        dependencies.
                                    </p> {% endcomment %}
                                    <div class="table-responsive">
                                        <table class="table mb-0">                                                        
                                            <tbody>
                                                <tr class="border-0">
                                                    <td class="border-0 text-danger"><i class="mdi mdi-circle-outline mr-1 text-danger"></i class="text-danger">Purchase a storage plan to activate your storage</td>
                                                    <td class="border-0"><a href="{% url 'accounts:pricing' %}" class="btn btn-gradient-primary">View Pricing</a></td>
                                                </tr>

                                                <tr class="border-0">
                                                    <td class="border-0 text-danger"><i class="mdi mdi-circle-outline mr-1 text-danger"></i class="text-danger">Purchase a storage plan to activate your storage</td>
                                                    <td class="border-0"><a href="{% url 'accounts:pricing' %}" class="btn btn-gradient-primary">Upload Image</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!--table responsive-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div> <!-- end col -->
                    </div> <!-- end row --> 

                </div><!-- container -->

                {% comment %} <footer class="footer text-center text-sm-left">
                    &copy; 2020 Crovex <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span>
                </footer><!--end footer--> {% endcomment %}
            </div>
            <!-- end page content -->
    </div>
      

{% endblock content %}


