[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
install = "*"
django = "==3.2.13"
mysqlclient = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
